.bloc_modale {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modale {
  background: white;
  color: #333;
  height: 400px;
  width: 550px;
  padding: 20px;
  position: fixed;
  bottom: 30%;
  display: flex;
  justify-content: space-around;

  &_title {
    font-size: 25px;
    text-align: left;
  }

  &_content {
    font-size: 20px;
    text-align: left;
    position: relative;

    &_body {
      margin: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &_image {
        margin-right: 10px;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        object-fit: cover;
      }

      &_text {
        width: 80%;
        height: 90px;
        border: 0;
        padding: 7px;
        background: transparent;
        resize: none;
        font-size: 20px;

        &::placeholder {
          font-size: 22px;
        }

        &:focus {
          outline: 0;
        }
      }
    }

    &_footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 15px;
      padding-bottom: 20px;

      &_upload {
        width: 42%;

        &_input {
          display: none;
        }

        &_label {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #203A43;
          color: white;
          font-size: 19px;
          text-align: center;
          padding: 10px 5px;
          border-radius: 5px;
          margin: 0;
          cursor: pointer;

          &_text {
            margin: 0;
            margin-left: 5px;
          }
        }
      }

      &_send {
        width: 42%;

        &_button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          padding: 8px 2px;
          font-size: 19px;
          background: #D31027;
          color: white;

          &_text {
            margin: 0;
            margin-left: 5px;
            color: white;
            font-size: 20px;
            padding: 0;
          }
        }
      }
    }

    &_upload_image {
      margin: 0px;
      font-size: 18px;
      padding-bottom: 10px;
    }

    &_error {
      margin: 0px;
      font-size: 18px;
      padding-bottom: 10px;
    }
  }

  &_btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #203A43;
    width: 10%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    color: white;
  }
}

/* Little devices (mobile, 768px and down)*/
@media (max-width: 768px) {
  .modale {
    height: auto;
    width: 95%;
    padding: 15px;

    &_title {
      font-size: 18px;
    }

    &_content {
      font-size: 15px;

      &_body {
        margin: 20px;

        &_image {
          width: 70px;
          height: 70px;
        }

        &_text {
          height: 70px;
          font-size: 15px;

          &::placeholder {
            font-size: 15px;
          }
        }
      }

      &_footer {
        &_upload {
          width: 40%;

          &_input {
            display: none;
          }

          &_label {
            font-size: 14px;
            padding: 8px 0px;

            &_text {
              display: none;
            }
          }
        }

        &_send {
          width: 40%;

          &_button {
            padding: 8px 0px;
            font-size: 14px;

            &_text {
              display: none;
            }
          }
        }
      }

      &_upload_image {
        font-size: 13px;
        padding-bottom: 0px;
      }

      &_error {
        font-size: 13px;
        padding-bottom: 0px;
      }
    }

    &_btn {
      font-size: 15px;
    }
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width: 992px) {
  .modale {
    height: auto;
    width: 55%;
    padding: 15px;

    &_title {
      font-size: 20px;
    }

    &_content {
      font-size: 18px;

      &_body {
        margin: 20px;

        &_image {
          width: 70px;
          height: 70px;
        }

        &_text {
          height: 70px;
          font-size: 18px;

          &::placeholder {
            font-size: 18px;
          }
        }
      }

      &_footer {
        &_upload {
          width: 40%;

          &_input {
            display: none;
          }

          &_label {
            font-size: 17px;
            padding: 8px 0px;

            &_text {
              display: none;
            }
          }
        }

        &_send {
          width: 40%;

          &_button {
            padding: 8px 0px;
            font-size: 17px;

            &_text {
              display: none;
            }
          }
        }
      }

      &_upload_image {
        font-size: 16px;
        padding-bottom: 0px;
      }

      &_error {
        font-size: 16px;
        padding-bottom: 0px;
      }
    }

    &_btn {
      font-size: 15px;
    }
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}