.container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: end;
  text-align: left;

  &_image {
    width: 100%;

    &_first {
      position: absolute;
      left: 10%;
      top: 10%;
      width: 650px;
      height: 650px;
      display: block;
    }

    &_second {
      display: none;
    }
  }

  &_body {
    right: 10%;
    background: white;
    width: 70%;
    height: auto;
    padding: 40px;
    border-radius: 20px;
    margin-top: 150px;
    font-size: 20px;

    &_title {
      text-align: left;
    }

    &_button {
      display: block;
      width: 60%;
      margin: auto;
      color: white;
      background: #D31027;
      font-size: 20px;
      padding: 10px 0px 10px 0px;
    }
  }
}

/* Little devices (mobile, 768px and down)*/
@media (max-width: 768px) {
  .container {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    &_image {
      display: flex;
      justify-content: center;

      &_first {
        display: none;
      }

      &_second {
        width: 80px;
        height: 80px;
        display: block;
      }
    }

    &_body {
      background: white;
      width: 100%;
      height: auto;
      padding: 20px;
      border-radius: 10px;
      margin-top: 0px;
      font-size: 15px;

      &_title {
        text-align: left;
        font-size: 18px;
      }

      &_button {
        display: block;
        width: 60%;
        font-size: 16px;
        padding: 5px 0px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    &_image {
      display: flex;
      justify-content: center;

      &_first {
        display: none;
      }

      &_second {
        width: 100px;
        height: 100px;
        display: block;
      }
    }

    &_body {
      background: white;
      width: 100%;
      height: auto;
      padding: 20px;
      border-radius: 10px;
      margin-top: 0px;
      font-size: 18px;

      &_title {
        text-align: left;
        font-size: 18px;
      }

      &_button {
        display: block;
        width: 60%;
        font-size: 17px;
        padding: 5px 0px;
      }

      p {
        font-size: 18px;
      }
    }
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}