.card {
  width: 43%;
  margin: auto;
  padding-top: 15px;
  border: 0;
  border-radius: 0px 0px 15px 15px;
  background: white;

  &_body {
    width: 100%;

    &_content {
      margin: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &_image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }

      &_text {
        width: 80%;
        margin-left: 10px;
        height: 90px;
        border: 0;
        padding: 7px;
        background: transparent;
        resize: none;
        font-size: 22px;

        &::placeholder {
          font-size: 22px;
        }

        &:focus {
          outline: 0;
        }
      }
    }

    &_footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 10px;
      font-size: 22px;

      &_upload {
        width: 40%;

        &_input {
          display: none;
        }

        &_label {
          display: block;
          background-color: #203A43;
          color: white;
          font-size: 20px;
          text-align: center;
          padding: 10px 0px;
          border-radius: 5px;
          margin: 0;
          cursor: pointer;
        }
      }

      &_send {
        width: 40%;

        &_button {
          width: 100%;
          padding: 10px 0px;
          font-size: 20px;
          background: #D31027;
          color: white;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .card {
    width: 90%;
    padding-top: 30px;

    &_body {
      width: 100%;
  
      &_content {
        margin: 20px;
        margin-bottom: 10px;
  
        &_image {
          width: 70px;
          height: 70px;
        }
  
        &_text {
          width: 80%;
          height: 70px;
          padding: 7px;
          font-size: 15px;
  
          &::placeholder {
            font-size: 15px;
          }
        }
      }
  
      &_footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 10px;
  
        &_upload {
          width: 40%;
  
          &_input {
            display: none;
          }
  
          &_label {
            display: block;
            background-color: #203A43;
            color: white;
            font-size: 14px;
            text-align: center;
            padding: 10px 0px;
            border-radius: 5px;
            margin: 0;
            cursor: pointer;
          }
        }
  
        &_send {
          width: 40%;
  
          &_button {
            width: 100%;
            padding: 10px 0px;
            font-size: 14px;
            background: #D31027;
            color: white;
          }
        }
      }
    }
  }
}