.bloc-modale {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

form {
  font-size: 18px;
}

.modale {
  background: white;
  color: #333;
  height: 760px;
  width: 700px;
  padding: 20px;
  position: fixed;
  bottom: 8%;
}

.modale-title {
  font-size: 25px;
  text-align: left;
}

.modale-content {
  font-size: 20px;
  text-align: left;
  position: relative;
}

.modale-body-content {
  margin: 30px;
}

.modale-body-content-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ced4da;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.modale-content-image-button {
  width: 60%;
}

input[type="file"] {
  display: none;
}

.label_image {
  display: block;
  background-color: #203A43;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0;
  cursor: pointer;
}

.modale-body-content-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input_group_css {
  width: 250px;
}

.modify_css {
  display: flex;
  flex-direction: column;
}

textarea {
  padding: 6px 12px;
  resize: none;
  border: 1px solid #ced4da;
  font-size: 1rem;
}

textarea:focus {
  outline: 0;
}

.modale-body-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

button {
  width: 90%;
  padding: 10px 0px;
  font-size: 18px;
}

.btn-color {
  background: #D31027;
  color: white;
}

p {
  font-size: 16px;
  text-align: center;
}

.btn-modale {
  position: absolute;
  top: 7px;
  right: 7px;
  background: #203A43;
  width: 10%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  color: white;
}