.card {
  width: 43%;
  margin: auto;
  padding: 25px;
  border: 0px;
  border-radius: 0;
  background: white;

  &_body {
    width: 100%;

    &_header {
      display: flex;
      justify-content: space-between;

      &_text {
        text-decoration: none;
        color: black;
        margin-bottom: 10px;
        font-size: 21px;
      }
    }

    &_image {
      width: 100%;
      height: auto;
      padding-bottom: 25px;
    }

    &_text {
      text-align: left;
      font-size: 22px;
      margin: 0;
      padding-bottom: 25px;
    }

    &_footer {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 21px;
      cursor: pointer;
    }
  }
}

.bold {
  font-weight: 700;
}

@media (max-width: 768px) {
  .card {
    margin-top: 60px;
    width: 90%;

    &_body {

      &_header {

        &_text {
          font-size: 14px;
        }
      }

      &_text {
        font-size: 15px;
      }

      &_footer {
        font-size: 13px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .card {
    margin-top: 60px;
    width: 70%;

    &_body {

      &_header {

        &_text {
          font-size: 18px;
        }
      }

      &_text {
        font-size: 20px;
      }

      &_footer {
        font-size: 17px;
      }
    }
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}