.card {
  width: 43%;
  margin: auto;
  border: 0;
  border-radius: 0px 0px 15px 15px;
  background: white;

  &_body {
    width: 100%;

    &_content {
      margin: 30px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      &_image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }

      &_text {
        width: 70%;
        height: 90px;
        border: 0;
        padding: 7px;
        background: transparent;
        resize: none;
        font-size: 22px;

        &::placeholder {
          font-size: 22px;
        }

        &:focus {
          outline: 0;
        }
      }
    }

    &_footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 10px;
      font-size: 22px;

      &_upload {
        width: 42%;

        &_input {
          display: none;
        }

        &_label {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #203A43;
          color: white;
          font-size: 20px;
          text-align: center;
          padding: 10px 0px;
          border-radius: 5px;
          margin: 0;
          cursor: pointer;

          &_text {
            margin: 0;
            margin-left: 5px;
          }
        }
      }

      &_send {
        width: 42%;

        &_button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          padding: 10px 0px;
          font-size: 20px;
          background: #D31027;
          color: white;

          &_text {
            margin: 0;
            margin-left: 5px;
            color: white;
            font-size: 20px;
            padding: 0;
          }
        }
      }
    }

    &_upload_image {
      margin: 0px;
      font-size: 18px;
      padding-bottom: 10px;
    }

    &_error {
      margin: 0px;
      font-size: 18px;
      padding-bottom: 10px;
    }
  }
}

@media (max-width: 768px) {
  .card {
    width: 90%;

    &_body {
      &_content {
        margin: 20px;
        margin-bottom: 10px;

        &_image {
          width: 70px;
          height: 70px;
        }

        &_text {
          height: 70px;
          border: 0;
          padding: 7px;
          font-size: 15px;

          &::placeholder {
            font-size: 15px;
          }
        }
      }

      &_footer {
        &_upload {
          width: 40%;

          &_input {
            display: none;
          }

          &_label {
            font-size: 14px;
            padding: 8px 0px;

            &_text {
              display: none;
            }
          }
        }

        &_send {
          width: 40%;

          &_button {
            padding: 8px 0px;
            font-size: 14px;

            &_text {
              display: none;
            }
          }
        }
      }

      &_upload_image {
        font-size: 13px;
        padding-bottom: 0px;
      }
  
      &_error {
        font-size: 13px;
        padding-bottom: 0px;
      }
    }
  }
}