.contain {
  position: relative;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}

.black {
  display: block;
  background-color: black;
  opacity: 0.5;
}

.top_navbar {
  position: fixed;
  top: 0%;
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: #D31027;
  z-index: 3;
}

.burger {
  display: none;
  position: relative;
  z-index: 1;
  left: 0%;
  top: 0%;
  width: 15%;
  height: 60px;
  cursor: pointer;

  span {
    position: absolute;
    left: 0%;
    display: block;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    width: 30px;
    height: 3px;
    background-color: white;
    transition: background-color 0.5s ease-in-out;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0%;
      width: 100%;
      height: 3px;
      background-color: white;
      transition: all 0.5s ease-in-out;
    }

    &::before {
      transform: translateY(-10px);
    }

    &::after {
      transform: translateY(10px);
    }
  }

  &_logo {
    margin-right: 15px;
    width: 38px;
    ;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.active span {
  background-color: transparent;

  &::before,
  ::after {
    transform: translateY(0);
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.navbar {
  position: fixed;
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #D31027;

  &_logo {
    height: 100px;
    width: auto;
    img {
      height: 100%;
    }
  }

  &_item {
    width: 100%;
    text-align: left;
  }

  &_link {
    position: absolute;
    left: 40%;
    width: 20%;
    text-decoration: none;
    color: white;
    cursor: pointer;

    &_p {
      width: 100%;
      margin: 0;
      font-size: 30px;
    }
  }
}

.fas {
  position: absolute;
  left: 30%;
  line-height: 40px;
  color: white;
  font-size: 30px;
}

/* Little devices (mobile, 768px and down)*/
@media (max-width: 768px) {
  .overlay {
    display: block;
    z-index: 3;
  }

  .top_navbar {
    display: flex;
  }

  .burger {
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 4;
  }

  .navbar {
    width: 15%;
    z-index: 3;
    align-items: start;
    margin-left: -15%;
    background-color: white;
    transition: all 0.5s ease;

    &_logo {
      display: none;
    }

    &_item {
      top: 0%;
    }

    &_link {
      &_p {
        display: none;
      }
    }
  }

  .show {
    margin-left: 0px;
  }

  .fas {
    position: relative;
    left: 0%;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: #D31027;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}