.container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: end;
}

img {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 650px;
  height: 650px;
}

.form-p {
  background: white;
  width: 650px;
  height: 780px;
  padding: 40px;
  border-radius: 20px;
  margin-top: 60px;
  font-size: 20px;
}

h2 {
  text-align: left;
}

.form-group {
  text-align: left;
}

.modify_css {
  display: flex;
  flex-direction: column;
}

textarea {
  padding: 6px 12px;
  resize: none;
  border: 1px solid #ced4da;
  font-size: 18px;
}

textarea:focus {
  outline: 0;
}

.btn {
  display: block;
  width: 60%;
  margin: auto;
  color: white;
  background: #D31027;
  padding: 10px 0px;
  font-size: 20px;
}