.container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: end;
  text-align: left;

  &_image {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 650px;
    height: 650px;
  }

  &_body {
    background: white;
    width: 650px;
    height: 780px;
    padding: 45px;
    border-radius: 20px;
    margin-top: 60px;
    font-size: 20px;

    &_title {
      text-align: left;
    }

    &_name {
      display: flex;
      justify-content: space-between;

      &_group {
        width: 45%;
      }
    }

    &_modify {
      display: flex;
      flex-direction: column;
    }

    &_textarea {
      padding: 6px 12px;
      resize: none;
      border: 1px solid #ced4da;
      font-size: 18px;

      &:focus {
        outline: 0;
      }
    }

    &_button {
      display: block;
      width: 60%;
      margin: auto;
      color: white;
      background: #D31027;
      padding: 10px 0px;
      font-size: 20px;
    }
  }
}