.card {
  padding: 15px;
  width: 43%;
  margin: auto;
  border: 0px;
  background: white;
  border-radius: 0;

  &_contain {
    width: 95%;
    margin: auto;
    margin-top: 20px;

    &_group {
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &_img {
        max-width: 130px;
        display: flex;
        justify-content: center;

        &_fluid {
          margin-bottom: 15px;
          padding: 0;
          width: 130px;
          height: 130px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      &_body {
        width: 55%;
        font-size: 24px;
        text-align: left;
      }
    }

    &_bio {
      font-size: 20px;
    }
  }
}

.activite {
  background-color: #D31027;
  width: 43%;
  margin: auto;
  margin-bottom: 0;

  h1 {
    color: white;
    padding: 10px;
    font-size: 23px;
    margin: 0;
  }
}

.none {
  margin-top: 100px;
  color: white;
}

.card_post {
  width: 43%;
  margin: auto;
  padding: 25px;
  border: 0px;
  border-radius: 15px;
  background: white;

  &:hover {
    background-color: #E0EAFC;
  }

  &_body {
    width: 100%;

    &_link {
      text-decoration: none;
      color: black;
      padding: 0;
      margin: 0;
    }

    &_header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &_text {
        margin-bottom: 10px;
        font-size: 21px;
      }
    }

    &_image {
      width: 100%;
      height: auto;
    }

    &_text {
      text-align: left;
      font-size: 22px;
      margin: 0;
      padding-top: 15px;
      padding-bottom: 10px;
    }
  }
}

.bold {
  font-weight: 700;
}

/* Little devices (mobile, 768px and down)*/
@media (max-width: 768px) {
  .card {
    margin-top: 60px;
    width: 90%;

    &_contain {
      width: 95%;

      &_group {

        &_img {
          max-width: 60px;

          &_fluid {
            width: 60px;
            height: 60px;
          }
        }

        &_body {
          width: 65%;
          font-size: 15px;

          &_name {
            font-size: 15px;
          }
        }
      }

      &_bio {
        font-size: 14px;
      }
    }
  }

  .activite {
    width: 90%;

    h1 {
      font-size: 17px;
    }
  }

  .none {
    font-size: 18px;
  }

  .card_post {
    width: 90%;

    &_body {

      &_header {
        &_text {
          font-size: 14px;
        }
      }

      &_text {
        font-size: 15px;
      }
    }
  }
}

/* Little devices (mobile, 768px and up)*/
@media (min-width: 768px) {
  .card {
    margin-top: 60px;
    width: 70%;

    &_contain {
      width: 80%;

      &_group {

        &_img {
          max-width: 60px;

          &_fluid {
            width: 80px;
            height: 80px;
          }
        }

        &_body {
          width: 65%;
          font-size: 18px;

          &_name {
            font-size: 18px;
          }
        }
      }

      &_bio {
        font-size: 17px;
      }
    }
  }

  .activite {
    width: 70%;

    h1 {
      font-size: 18px;
    }
  }

  .none {
    font-size: 18px;
  }

  .card_post {
    width: 70%;

    &_body {

      &_header {
        &_text {
          font-size: 14px;
        }
      }

      &_text {
        font-size: 15px;
      }
    }
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}