.big_contain {
  position: fixed;
  background: #D31027;
  width: 25%;
  height: 100%;
  padding: 20px 0px;
  right: 0;
}

.card {
  padding: 15px;
  width: 95%;
  margin: auto;
  border: 0px;
  background: white;

  &_contain {
    width: 90%;
    margin: auto;
    margin-top: 20px;

    &_group {
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &_img {
        max-width: 110px;
        display: flex;
        justify-content: center;

        &_fluid {
          margin-bottom: 15px;
          padding: 0;
          width: 105px;
          height: 105px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      &_body {
        width: 60%;
        font-size: 18px;
        text-align: left;

        &_name {
          font-size: 18px;
          margin-bottom: 16px;
        }
      }
    }
  }

  &_button {
    width: 100%;
    border-radius: 0;

    &_update {
      font-size: 17px;
      background-color: #D31027;
      color: white;

      &_phone {
        display: none;
        background-color: #D31027;
        color: white;
      }
    }

    &_delete {
      font-size: 17px;
      background-color: #203A43;
      color: white;

      &_phone {
        display: none;
        background-color: #203A43;
        color: white;
      }
    }
  }
}

.activite {
  background-color: white;
  width: 95%;
  margin: auto;
  margin-bottom: 0;

  h1 {
    color: black;
    padding: 10px;
    font-size: 23px;
    margin: 0;
  }
}

.none {
  margin-top: 100px;
  font-size: 24px;
  color: white;
}

.post_scroll {
  overflow-y: scroll;
  height: 460px;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0px;
  }

  &_card {
    padding: 10px;
    width: 95%;
    margin: auto;
    border: 0px;
    border-radius: 15px;
    background: white;

    &:hover {
      background-color: #E0EAFC;
    }
  }

  &_card_link {
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
  }

  &_card_body {
    width: 100%;
    margin: 0;
    padding: 10px;

    &_header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &_text {
        margin-bottom: 10px;
        font-size: 19px;
      }
    }

    &_image {
      width: 100%;
      height: auto;
      padding-bottom: 25px;
    }

    &_text {
      text-align: left;
      font-size: 19px;
      margin: 0;
      padding-bottom: 0;
    }
  }
}

.bold {
  font-weight: 700;
}

/* Little devices (mobile, 768px and down)*/
@media (max-width: 768px) {
  .big_contain {
    display: block;
    margin-right: -100%;
    width: 100%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
  }

  .show {
    margin-right: 0%;
  }

  .card {
    width: 95%;

    &_contain {
      width: 90%;
      margin-top: 10px;

      &_group {
        width: 90%;

        &_img {
          max-width: 80px;

          &_fluid {
            width: 80px;
            height: 80px;
          }
        }

        &_body {
          width: 65%;
          font-size: 15px;

          &_name {
            font-size: 15px;
            margin-bottom: 16px
          }
        }
      }

      &_bio {
        font-size: 14px;
      }
    }

    &_button {
      width: 100%;

      &_update {
        display: none;

        &_phone {
          font-size: 14px;
          display: block;
        }
      }

      &_delete {
        display: none;

        &_phone {
          font-size: 14px;
          display: block;
        }
      }
    }
  }

  .activite {
    h1 {
      font-size: 17px;
    }
  }

  .none {
    font-size: 18px;
  }

  .post_scroll {
    height: 220px;

    &_card {
      &_body {
        &_header {
          &_text {
            font-size: 14px;
          }
        }

        &_text {
          font-size: 15px;
        }
      }
    }
  }
}

/* Medium devices (tablet, 768px and up)*/
@media (min-width: 768px) {
  .big_contain {
    display: block;
    margin-right: -100%;
    width: 60%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
  }

  .show {
    margin-right: 0%;
  }

  .card {
    width: 95%;

    &_contain {
      width: 90%;
      margin-top: 10px;

      &_group {
        width: 90%;

        &_img {
          max-width: 80px;

          &_fluid {
            width: 80px;
            height: 80px;
          }
        }

        &_body {
          width: 65%;
          font-size: 15px;

          &_name {
            font-size: 15px;
            margin-bottom: 16px
          }
        }
      }

      &_bio {
        font-size: 14px;
      }
    }

    &_button {
      width: 100%;

      &_update {
        display: none;

        &_phone {
          font-size: 14px;
          display: block;
        }
      }

      &_delete {
        display: none;

        &_phone {
          font-size: 14px;
          display: block;
        }
      }
    }
  }

  .activite {
    h1 {
      font-size: 17px;
    }
  }

  .none {
    font-size: 18px;
  }

  .post_scroll {
    height: 720px;

    &_card {
      &_body {
        &_header {
          &_text {
            font-size: 14px;
          }
        }

        &_text {
          font-size: 15px;
        }
      }
    }
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}